@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Azeret Mono", monospace;
}
.main {
    background-color: rgb(255, 255, 255);
  }
.section-content {
    text-align: center;
    border-radius: 16px;
    padding: 50px 100px;
  }
  .section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
  }
  .section-description {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 50px;
    padding: 0px 70px;
  }


/* header style start */
.nav {
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
}
.nav-btn {
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  padding: 8px 22px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}
.hero {
  background-image: url("assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
}
.hero-content {
  padding: 10px 190px;
}
.hero-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
}
.hero-description {
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
.hero-btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  line-height: 23px;
  border-radius: 8px;
  background-color: rgb(13, 19, 33);
  margin: 30px 0px 30px 0px;
}
/* header style end */

/* why web section style start */
.why-web-dev {
    margin: 60px 150px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
  }
  .why-dev-container {
    display: flex;
    justify-content: space-between;
    margin:  0px 150px 30px 150px;
    padding: 10px 50px;
    gap: 120px;
    background-color: #fff;
  }
  .left{
      
  }
  .right{
  
  }
  /* why web section style end */
  
  /* my inspiration section start */
  .my-inspiration{
      margin: 60px 150px;
  }
  .video {
      text-align: center;
      padding: 20px;
      border: 1px solid black;
      border-radius: 20px;
    }
  
  /* my inspiration section end */
  
  /* my current target section start */
  .my-current-target {
      margin: 0px 150px;
     
  }
  .traget-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .html{
      padding: 40px;
      border-radius: 16px;
      background: rgba(255, 76, 30, 0.05);
  }
  .css{
      padding: 40px;
      border-radius: 16px;
      background: rgba(0, 76, 232, 0.05);
  }
  .js{
      padding: 40px;
      border-radius: 16px;
      background: rgba(255, 223, 0, 0.05);
  }
  /* my current target section end */
  
  /* my next target section start */
  .my-next-target {
      margin: 60px 150px;
    padding: 50px 10px;
  }
  
  .react {
    display: flex;
  }
  
  /* my next target section end */
  
  
  .support {
    background-image: url("assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
  }
  
  .footer {
    margin-top: 80px;
    border-radius: 16px;
  
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 100px;
  }
  